h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-style: normal;
  font-weight: bold;
}

h1, .h1 {
  font-size: 36px;
  line-height: 44px;
  color: #232323;
  margin-bottom: 10px;
}

h2, .h2 {
  font-size: 24px;
  line-height: 29px;
  color: #232323;
}

h3, .h3 {
  font-size: 20px;
  line-height: 25px;
  color: #232323;
}

h4, .h4 {
  font-size: 16px;
  line-height: 20px;
  color: #232323;
}

h5, .h5 {
  font-size: 16px;
  line-height: 20px;
  color: #232323;
}